<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body>
        <div class="content content-strap">
            {{{main}}}
            <p>
                <a href="/contact" class="button">{{{labels.contact}}}</a>
            </p>
        </div>
        <div class="content content-feature feature-left">
            {{{experience}}}
        </div>
        <div class="content content-feature feature-right">
            {{{clientSide}}}
        </div>
        <div class="content content-feature feature-left">
            {{{serverSide}}}
        </div>
        <div class="content content-feature feature-right">
            {{{infrastructure}}}
        </div>
    </body>
</html>
